@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663396604878') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-weixin:before {
  content: "\e8bb";
}

