html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/*    上面是重置标签     */

.box1 {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: #f9f0e1;
    position: relative;
}

.top {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 40px;
    color: #ef4d27;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f9f0e1;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;
}

.main-top {
    display: flex;
    justify-content: space-between;
    background-color: #f4e8ce;
    position: sticky;
    top: 80px;
    z-index: 2;
}

.main-top > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.main-top > div:last-child span {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 2px;
    color: #ddd;
}

.main-main {
    width: 100%;
    height: 800px;
    background: url("./images/R-C2.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
    border-top: 10px solid black;
}

.hero-whdsm {
    width: 400px;
    height: 40px;
    text-align: center;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    bottom: -4px;
    left: 0;
}

.hero-white55kai {
    width: 300px;
    height: 40px;
    text-align: center;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    right: 0;
    left: 0;
    bottom: -4px;
    margin: 0 auto;
}

.hero-pdd {
    width: 400px;
    height: 40px;
    text-align: center;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    bottom: -4px;
    right: 0;
}

.main-main2 {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    background-color: #9d9d9d;
}

.main-main2 .content {
    width: 1200px;
    height: 200px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;

}

.content > div {
    padding-top: 30px;
    width: 100%;
    height: 100px;
    font-size: 16px;
    color: #5f6363;
}

.container {
    width: 100%;
    height: 480px;
    background: url("./images/R-C1.jpg") no-repeat;
    background-size: cover;
}

.main-main3 {
    width: 100%;
    height: 600px;
    background-color: #0b5ed7;
    margin-top: 20px;
}

.main3-l {
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    background-color: #9d9d9d;
    float: left;
}

.main3-l .title {
    font-size: 36px;
    font-weight: bold;
    color: #140d8e;
    padding: 0 0 20px 20px;

}

.main3-l a img {
    width: 800px;
    height: 544px;
}

.main3-r {
    float: right;
}

.main3-r .r-top {
    width: 400px;
    height: 300px;
    background-color: #0c4128;
}

.main3-r .r-bottom {
    width: 400px;
    height: 300px;
    background-color: red;
}

.r-top div:first-child {
    font-size: 20px;
    padding: 0 20px 20px 0;
    text-align: right;
}

.r-top div a img {
    width: 400px;
    height: 260px;
}

.r-bottom div a img {
    width: 400px;
    height: 300px;
}